.home-background{
    background-image: url(./../../assets/images/peka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: radial-gradient();
}