<div class="home-background">
    <div class="container text-center">
        <br> <br> <br> <br> <br> <br> <br>
        <p class="pt-5 text-light h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime odit delectus accusamus sequi libero, hic dolorem quos perspiciatis rerum perferendis quas ipsam dolorum eum rem esse consequuntur nihil inventore. Assumenda? Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quibusdam obcaecati cum voluptatem quas deserunt ut porro dolorum repellat cupiditate sapiente molestias labore, eos, dignissimos quo aliquid voluptate, nihil atque.</p>
        <button class="btn btn-lg btn-warning m-5 px-5 text-light">Menu</button>
        <button class="btn btn-lg btn-success m-5 px-4 text-light">Book Table</button>
        <br> <br> <br> <br> <br> <br> <br>
    </div>
</div>
